/executable
/dist
/node_modules
src/config/config.development.json
src/config/config.json
src/config/_config.json
config.json
_config.json
.env
/database/data.json
/database/monsterDeaths.json
/database/playerDeaths.json
.pkg-cache
yarn.lock
yarn-error.log
package-lock.json
/bkp_envs